
body {
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./pexels-philippedonn-1169754.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding: 5rem;
    width: 20rem;
    backdrop-filter: blur(6px) saturate(114%);
    -webkit-backdrop-filter: blur(6px) saturate(114%);
    background-color: rgba(17, 25, 40, 0.58);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#PE {
    color: white;
}
#save-el {
    color: white;

}
#increment-btn {
    background: darkred;
    cursor: pointer;
    transition: 0.4s;
}
#increment-btn:hover {
    width: 205px;
    padding: 13px;
    background-color: rgb(177, 3, 3);
}
#save-btn {
    background: darkgreen;
    cursor: pointer;
    transition: 0.4s;
}
#save-btn:hover {
    width: 205px;
    padding: 13px;
    background-color: rgb(7, 153, 7);
}
